<div class="container">
  <div class="card">
    <div class="card-header">
      <h2 class="text-position"><span style="margin-right: 100px; font-size: 23px; margin-top: 10px;">Batch Prediction</span></h2>
    </div>
    <div class="card-body">
      <br/>
      <form id="chemicalScreening"  class="form-horizontal"
            [formGroup]="chemicalScreeningForm" >
        <br/>
        <div class="form-group row">
          <label for="queryFile" class="control-label col-md-3 offset-1">Query File:</label>
          <div class="col-md-6">
            <input type="file" id="queryFile" class="form-control-file"
                   accept=".sdf, .smi"
                   ng2FileSelect
                   [uploader]="uploder"
                   (change)="fileChange($event)"
                   formControlName="queryFile"
                   name="queryFile">
            <p class="help-block">Please submit MDL sdf or SMILES format file!</p>
          </div>
          <div class="col-md-2">
            <div  class="text-danger">
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="email" class="control-label col-md-3 offset-1">Email Address:</label>
          <div class="col-md-6">
            <input type="email" id="email" name="email"
                   class="form-control" placeholder="Please input email address"
                   formControlName="email">
          </div>
          <div class="col-md-2" *ngIf="email.invalid && (email.dirty || email.touched)">
            <div class="text-danger" *ngIf="email.errors.required">
              <small>*Email is required</small>
            </div>
            <div class="text-danger" *ngIf="email.errors.email">
              <small>*Invalid email</small>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="target" class="control-label col-md-3 offset-1">Selected Target:</label>
          <div class="col-md-6">
            <select name="targetName" id="target"
                    class="form-control"
                    
                    formControlName="target">
              <option [value]="item" *ngFor="let item of choice.targets">{{item}}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-3 offset-5">
            <!-- <button class="btn btn-warning btn-sm" type="reset">Reset</button> -->
            &nbsp;&nbsp;
            <button class="btn btn-primary btn-sm" type="button" [disabled]="chemicalScreeningForm.invalid" (click)="onSubmit()">Submit</button>
          </div>
        </div>
      </form>
      <br/>
      <div class="row">
        <div class="col-md-8 offset-2">
          <h5 class="text-danger">Note:</h5>
          <ul>
            <li>ONLY MDL SDF and SMILES formats are supported</li>
            <li>Both 2D and 3D structures can be used in the input file</li>
            <li>Only 1000 molecules can be predicted at a time,
              Do not submit files with more than 1000 molecules</li>
            <li>Batch Prediction results will be sent to your email</li>
          </ul>
        </div>
      </div>
      
    </div>
  
  </div>
</div>


