<div class="container">

<div class="card " >
  <div class="row no-gutters">
    <div class="col-md-6" >
      <video controls="controls" width="95%" autoplay="autoplay">
        <source src="assets/video/Diabetes_video.webm">
        Your browser does not support the video tag.
      </video>
      <!-- <p>source: <a href="https://zh.wikipedia.org/wiki/青光眼" target="_blank">wikipedia</a></p> -->
      <p>source: <a href="https://www.tw.wiiaa.top/baike-File:Diabetes_video.webm" target="_blank">wikipedia</a></p>
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <h5 class="card-title"><h1 class="heading-align"><b>Diabeticretinitis Database</b></h1></h5>
        <p class="card-text"><b>Diabetic retinopathy</b>, also known as diabetic eye disease (DED), is a medical condition in which damage occurs to the retina due to diabetes mellitus. It is a leading cause of blindness in developed countries.
          Diabetic retinopathy affects up to 80 percent of those who have had diabetes for 20 years or more.At least 90% of new cases could be reduced with proper treatment and monitoring of the eyes. The longer a person has diabetes, 
          the higher his or her chances of developing diabetic retinopathy.Each year in the United States, diabetic retinopathy accounts for 12% of all new cases of blindness. It is also the leading cause of blindness in people aged 20 to 64.
        </p>
      </div>
    </div>
    <div class="card-body">
      <div class="card-text">
        Diabetic retinopathy often has no early warning signs. Even macular edema, which can cause rapid central vision loss, 
        may not have any warning signs for some time. In general, however, a person with macular edema is likely to have blurred vision, making it hard to do things like read or drive. In some cases, the vision will get better or worse during the day.
        <br>
        
        &nbsp;&nbsp;&bull; The first stage, called non-proliferative diabetic retinopathy (NPDR), has no symptoms. Patients may not notice the signs and have 20/20 vision. The only way to detect NPDR is by fundus examination by direct or indirect ophthalmoscope by a trained ophthalmologist, fundus photography can be used for objective documentation of the fundus findings, in which microaneurysms (microscopic blood-filled bulges in the artery walls) can be seen.
         If there is reduced vision, fluorescein angiography can show narrowing or blocked retinal blood vessels clearly (lack of blood flow or retinal ischemia).
        <br>
        <br>
        &nbsp;&nbsp;&bull;  In the second stage, abnormal new blood vessels (neovascularisation) form at the back of the eye as part of proliferative diabetic retinopathy (PDR); these can burst and bleed (vitreous hemorrhage) and blur the vision, because these new blood vessels are fragile. The first time this bleeding occurs, it may not be very severe. 
        In most cases, it will leave just a few specks of blood, or spots floating in a person's visual field which may last for months.
        <br>

        <br>
         <b>DRDB</b> is one platform available for either to identify potential drug targets or to screen new drug
        scaffolds for Diabetic retinopathy treatments. The diabetes database website allows analysis of pharmacological target space and searching for the
        drugs as well as targets of interest. The platform also provides implementation of a ligand-based
        computational algorithm for virtual screening and target prediction, by assessing the activity of a query
        molecule based on its similarity to the active ligands for a given target.
        <br>
        <br>
        <b>DRDB</b> will be helpful in target identification and chemogenomics data exchanging and sharing in  Diabetic retinopathy,
      and facilitate the drug discovery for its treatment.
         
    </div>
  </div>
</div>
</div>

<!-- <div class="panel">
  <div class="page-header">
    <h1 class="heading-align"><b>Glaucomatous Chemogenomics Database</b></h1>
  </div>
  <div class="well panel-body">
    <div class="col-md-6">
      <video controls="controls" width="95%" autoplay="autoplay">
        <source src="assets/video/Diabetes_video.webm">
        Your browser does not support the video tag.
      </video>
      <p>source: <a href="https://zh.wikipedia.org/wiki/青光眼" target="_blank">wikipedia</a></p>
      <p>source: <a href="https://www.tw.wiiaa.top/baike-File:Diabetes_video.webm" target="_blank">wikipedia</a></p>
      <img class="img-thumbnail eye" src="../../assets/img/eye.jpg" alt="image">
    </div>
  <div class="well-lg">
    <p>
      <b>Glaucoma</b> is a group of neurodegenerative diseases which affects 60 ~ 70 million people worldwide, is a
      painless neurodegenerative disorder and the second cause of blindness after cataracts, resulting in optic nerve
      damage and irreversible blindness.
    </p>
    <p>
      <b>GCDB</b> is one platform available for either to identify potential drug targets or to screen new drug
      scaffolds for glaucoma treatments. <b>GCDB</b> contains 275 genes, 105 proteins, 40 approved drugs, 90 206
      chemicals associated with 213 093 records of reported glaucoma bioactivities from 22 324 glaucoma
      corresponding bioassays and 5 630 references.
    </p>
    <p>
      The glaucoma database website allows analysis of pharmacological target space and searching for the
      drugs as well as targets of interest. The platform also provides implementation of a ligand-based
      computational algorithm for virtual screening and target prediction, by assessing the activity of a query
      molecule based on its similarity to the active ligands for a given target.
    </p>
    <p>
      <b>GCDB</b> will be helpful in target identification and chemogenomics data exchanging and sharing in glaucoma,
      and facilitate the drug discovery for glaucoma treatment.
    </p>
  </div>
  </div>
</div> -->