<div class="container">

<div class="card " >
  <div class="row no-gutters">
    <div class="col-md-6" >
      <video controls="controls" width="95%" autoplay="autoplay">
        <source src="assets/video/Diabetes_video.webm">
        Your browser does not support the video tag.
      </video>
      <!-- <p>source: <a href="https://zh.wikipedia.org/wiki/青光眼" target="_blank">wikipedia</a></p> -->
      <p>source: <a href="https://www.tw.wiiaa.top/baike-File:Diabetes_video.webm" target="_blank">wikipedia</a></p>
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <h5 class="card-title"><h1 class="heading-align"><b>Diabetes Chemogenomics Database</b></h1></h5>
        <p class="card-text"><b>Diabetes mellitus (DM)</b>, commonly known as just diabetes, is a group of metabolic disorders characterized by a high blood sugar level over a prolonged period of time.
          Symptoms often include frequent urination, increased thirst and increased appetite.  If left untreated, diabetes can cause many health complications.
          Acute complications can include diabetic ketoacidosis, hyperosmolar hyperglycemic state, or death.Serious long-term complications include cardiovascular disease, stroke, chronic kidney disease, 
          foot ulcers, damage to the nerves, damage to the eyes and cognitive impairment.
        </p>
      </div>
    </div>
    <div class="card-body">
      <div class="card-text">
        <b>Diabetes</b> is due to either the pancreas not producing enough insulin, or the cells of the body not responding properly to the insulin produced.
        There are three main types of diabetes mellitus:
        <br>
        <br>
        
        &nbsp;&nbsp;&bull; Type 1 diabetes results from failure of the pancreas to produce enough insulin due to loss of beta cells.This form was previously referred to as "insulin-dependent diabetes mellitus" (IDDM) or "juvenile diabetes".
        The loss of beta cells is caused by an autoimmune response. The cause of this autoimmune response is unknown.
        <br>
        <br>
        &nbsp;&nbsp;&bull;  Type 2 diabetes begins with insulin resistance, a condition in which cells fail to respond to insulin properly. As the disease progresses, a lack of insulin may also develop.
        This form was previously referred to as "non insulin-dependent diabetes mellitus" (NIDDM) or "adult-onset diabetes". The most common cause is a combination of excessive body weight and insufficient exercise.
        <br>
        <br>
        &nbsp;&nbsp;&bull;  Gestational diabetes is the third main form, and occurs when pregnant women without a previous history of diabetes develop high blood sugar levels.
        <br>
        <br>
         <b>DCDB</b> is one platform available for either to identify potential drug targets or to screen new drug
        scaffolds for diabetes treatments. The diabetes database website allows analysis of pharmacological target space and searching for the
        drugs as well as targets of interest. The platform also provides implementation of a ligand-based
        computational algorithm for virtual screening and target prediction, by assessing the activity of a query
        molecule based on its similarity to the active ligands for a given target.
        <br>
        <br>
        <b>DCDB</b> will be helpful in target identification and chemogenomics data exchanging and sharing in diabetes,
      and facilitate the drug discovery for diabetic treatment.
         
    </div>
  </div>
</div>
</div>

<!-- <div class="panel">
  <div class="page-header">
    <h1 class="heading-align"><b>Glaucomatous Chemogenomics Database</b></h1>
  </div>
  <div class="well panel-body">
    <div class="col-md-6">
      <video controls="controls" width="95%" autoplay="autoplay">
        <source src="assets/video/Diabetes_video.webm">
        Your browser does not support the video tag.
      </video>
      <p>source: <a href="https://zh.wikipedia.org/wiki/青光眼" target="_blank">wikipedia</a></p>
      <p>source: <a href="https://www.tw.wiiaa.top/baike-File:Diabetes_video.webm" target="_blank">wikipedia</a></p>
      <img class="img-thumbnail eye" src="../../assets/img/eye.jpg" alt="image">
    </div>
  <div class="well-lg">
    <p>
      <b>Glaucoma</b> is a group of neurodegenerative diseases which affects 60 ~ 70 million people worldwide, is a
      painless neurodegenerative disorder and the second cause of blindness after cataracts, resulting in optic nerve
      damage and irreversible blindness.
    </p>
    <p>
      <b>GCDB</b> is one platform available for either to identify potential drug targets or to screen new drug
      scaffolds for glaucoma treatments. <b>GCDB</b> contains 275 genes, 105 proteins, 40 approved drugs, 90 206
      chemicals associated with 213 093 records of reported glaucoma bioactivities from 22 324 glaucoma
      corresponding bioassays and 5 630 references.
    </p>
    <p>
      The glaucoma database website allows analysis of pharmacological target space and searching for the
      drugs as well as targets of interest. The platform also provides implementation of a ligand-based
      computational algorithm for virtual screening and target prediction, by assessing the activity of a query
      molecule based on its similarity to the active ligands for a given target.
    </p>
    <p>
      <b>GCDB</b> will be helpful in target identification and chemogenomics data exchanging and sharing in glaucoma,
      and facilitate the drug discovery for glaucoma treatment.
    </p>
  </div>
  </div>
</div> -->