.heading-align{
  text-align: center;
}

.eye{
  width: 95%;
}
.card-title{
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

.card-text{
  font-size: 23px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  word-break: keep-all;
}
video{
  height: 350px;
}


