
<h1 class="badge badge-pill badge-info">Target Prediction</h1>
<div class="container" id="divContainer"> 
  <form method="POST" enctype="multipart/form-data" #predictionForm="ngForm">

  
    <div class="form-group row" >
        <label
        for="TargetSelect"
        class="col-sm-2 col-form-label col-form-label-lg offset-1"
        style="font-size: 23px; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; text-shadow: 0 0 2px rgb(9, 61, 54);"
        >Target:</label
      >
    
        <div class="col-sm-7">
          <select
            class="form-control form-control-lg"
            id="TargetSelect"
            name="targetpre"
            [(ngModel)]="choice.target"
            style="color: rgb(79, 5, 153)"
          >
            <option [value]="item" *ngFor="let item of choice.targets">
              {{ item }}
            </option>
          </select>
        
        </div>
        <br>
        <small
        id="optCutoffHelp"
        class="form-text text-muted col-sm-10 offset-1"
        style="font-size: 17px"
        >Please select the right <em>target</em> you want to predict.</small
        >
     
        <br>
        <br>

        <label
          for="targetpredictionform"
          class="col-sm-2 col-form-label col-form-label-lg offset-1"
          style="font-size: 23px; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; text-shadow: 0 0 2px rgb(9, 61, 54);"
          >Smiles:</label
        >
        <div class="col-sm-7">
          <input
            type="text"
            class="form-control form-control-lg"
            id="targetpredictionform"
            style="color: rgb(79, 5, 153)"
            name="smiles"
            placeholder="e.g.,NCCCC[C@H](N[C@@H](CCC1=CC=CC=C1)C(O)=O)C(=O)N1CCC[C@H]1C(O)=O"
            [(ngModel)]="jsmeSmiles"
            required
            minlength="2"
            #inputSmiles="ngModel"
          />
          <div
          *ngIf="
            inputSmiles.invalid && (inputSmiles.dirty || inputSmiles.touched)
          "
          class="alert alert-danger"
          >
            <div *ngIf="inputSmiles.errors.required">Smiles is required!</div>
            <div *ngIf="inputSmiles.errors.minlength">Smiles must be at least 2 characters long!</div>
          </div>
        </div>
        <br>
        <small
        id="targetpredictionformHelp"
        class="form-text text-muted col-sm-10 offset-1"
        style="font-size: 17px"
        >Some <em>invalid input</em> will lead to errors.</small
      >
        


    </div>
    <!-- <h5 class="font-color"> 
      <div class="text-position col-sm-3 offset-4">
        <button
          type="button"
          mat-raised-button
          color="primary"
          (click)="goTargetPrediction()"
        >Target Prediction
        </button>
      </div>
      </h5> -->

      <div class="form-group row">
        <button
          type="submit"
          style="color: rgb(79, 5, 153)"
          class="btn btn-outline-primary col-sm-1 offset-5"
          [disabled]="!predictionForm.form.valid"
          (click)="goTargetPrediction()"
        >
          Submit
        </button>
      </div>
  </form>
</div>
<div class="row">
  <!-- <app-jsme [elementId]="'sea'"
                  #seaApplet
                  [width]="'95%'"
                  [height]="'400px'"
                  [showDemo]="true"
        >loading JSME widget
        </app-jsme> -->
  
  <!-- <div class="col-md-2 content-center">
    <button mat-raised-button color="accent" (click)="getJsmeSmiles()">
      Get Smiles
    </button>
    <button mat-icon-button (click)="getJsmeSmiles()" color="warn">
      <mat-icon>trending_flat</mat-icon>
    </button>
  </div>
  <div class="col-md-5">
    <h5>SMILES:</h5>
    <textarea class="smile-container" [value]="jsmeSmiles" #textarea></textarea>-->
    
  </div>
<!-- </div> -->
