<!-- <div class="container">
  <h4>Keyword Search</h4> -->
<!--  class="demo-tab-group"-->
<!-- <mat-tab-group class="demo-tab-group">
    <mat-tab label="Drug">
      <div class="mdl-cell mdl-cell--8-col mdl-cell--2-offset">
        <form #drugForm="ngForm" (ngSubmit)="drugSubmit()">
          <mat-form-field class="full-width">
            <mat-select placeholder="Search type"
                        (selectionChange)="drugSearchTypeChange(drugSelectedType)"
                        [(ngModel)]="drugSelectedType" name="Input Type">
              <mat-option *ngFor="let type of drugSearchTypeList" [value]="type.inputType">
                {{type.inputType}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput [(ngModel)]="drugKeyword"
                   required name="keyword" [placeholder]="'Input keyword'">
          </mat-form-field>
          <br/>
          <button mat-raised-button color="primary" type="submit" [disabled]="drugForm.invalid">
            Submit
          </button>
        </form>
      </div>
    </mat-tab>
    <mat-tab label="Target">
      <div class="mdl-cell mdl-cell--8-col mdl-cell--2-offset tab-container">
        <form #targetForm="ngForm" (ngSubmit)="targetSubmit()">
          <mat-form-field class="full-width">
            <mat-select placeholder="Search type"
                        (selectionChange)="targetSearchTypeChange(targetSelectedType)"
                        [(ngModel)]="targetSelectedType" name="Input Type">
              <mat-option *ngFor="let type of targetSearchTypeList" [value]="type.inputType">
                {{type.inputType}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput [(ngModel)]="targetKeyword"
                   required name="keyword" [placeholder]="'Input keyword'">
          </mat-form-field>
          <br/>
          <button mat-raised-button color="primary" type="submit" [disabled]="targetForm.invalid">
            Submit
          </button>
        </form>
      </div>
    </mat-tab>
    <mat-tab label="Pathway">
      <div class="mdl-cell mdl-cell--8-col mdl-cell--2-offset tab-container">
        <form #pathwayForm="ngForm" (ngSubmit)="pathwaySubmit()">
          <mat-form-field class="full-width">
            <mat-select placeholder="Search type"
                        (selectionChange)="pathwaySearchTypeChange(pathwaySelectedType)"
                        [(ngModel)]="pathwaySelectedType" name="Input Type">
              <mat-option *ngFor="let type of pathwaySearchTypeList" [value]="type.inputType">
                {{type.inputType}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput [(ngModel)]="pathwayKeyword"
                   required name="keyword" [placeholder]="'Input keyword'">
          </mat-form-field>
          <br/>
          <button mat-raised-button color="primary" type="submit" [disabled]="pathwayForm.invalid">
            Submit
          </button>
        </form>
      </div>
    </mat-tab>
  </mat-tab-group>
  <br>
  <h4>Structure Search</h4>
  <div class="row">
    <div class="col-md-5">
      <app-jsme [elementId]="'structure-search'"
                #applet
                [width]="'95%'"
                [height]="'400px'"
                [showDemo]="true"
      >loading JSME widget
      </app-jsme>
    </div>
    <div class="col-md-2 content-center">
      <button mat-raised-button color="accent" (click)="getJsmeSmiles()">
        Get Smiles
      </button>
      <button mat-icon-button (click)="getJsmeSmiles()" color="warn">
        <mat-icon>trending_flat</mat-icon>
      </button>
    </div>
    <div class="col-md-5">
      <h5>SMILES:</h5>
      <textarea class="smile-container" [value]="jsmeSmiles" #smiles></textarea>
      <h6>Structure Type:</h6>
      <mat-radio-group [(ngModel)]="structureType">
        <mat-radio-button *ngFor="let typeEl of structureTypes" [value]="typeEl">
          {{typeEl | titlecase}}&nbsp;&nbsp;&nbsp;
        </mat-radio-button>
      </mat-radio-group>
      <div>
        <h6>Tanimoto threshold: {{similaritySlider.value}}</h6>
        <mat-slider class="slider-width"
                    min="0.7" max="1" step="0.01"
                    [(ngModel)]="similarity"
                    [thumbLabel]="true"
                    [disabled]="structureType === 'substructure'"
                    #similaritySlider>
        </mat-slider>
        <button
          mat-raised-button
          color="primary"
          (click)="onSubmit(smiles.value)"
        >Search
        </button>
      </div>
    </div>
  </div>
   -->

<!-- <div class="container">
   <div class="row"> -->
<!-- <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-link active" id="nav-Drug-tab" data-toggle="tab" href="#nav-Drug" role="tab" aria-controls="nav-Drug" aria-selected="true">Drug</a>
        <a class="nav-link" id="nav-Target-tab" data-toggle="tab" href="#nav-Target" role="tab" aria-controls="nav-Target" aria-selected="false">Target</a>
        <a class="nav-link" id="nav-Pathway-tab" data-toggle="tab" href="#nav-Pathway" role="tab" aria-controls="nav-Pathway" aria-selected="false">Pathway</a>
        <a class="nav-link" id="nav-Structure-tab" data-toggle="tab" href="#nav-Structure" role="tab" aria-controls="nav-Structure" aria-selected="false">Pathway</a>
      </div>
    </nav> -->
<!-- <div class="col-3">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" id="v-pills-Drug-tab" data-toggle="pill" href="#v-pills-Drug" role="tab" aria-controls="v-pills-Drug" aria-selected="true">Drug</a>
        <a class="nav-link" id="v-pills-Target-tab" data-toggle="pill" href="#v-pills-Target" role="tab" aria-controls="v-pills-Target" aria-selected="false">Target</a>
        <a class="nav-link" id="v-pills-Pathway-tab" data-toggle="pill" href="#v-pills-Pathway" role="tab" aria-controls="v-pills-Pathway" aria-selected="false">Pathway</a>
        <a class="nav-link" id="v-pills-Structure-tab" data-toggle="pill" href="#v-pills-Structure" role="tab" aria-controls="v-pills-Structure" aria-selected="false">Structure</a>
      </div>
    </div> -->

<!-- <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-Drug" role="tabpanel" aria-labelledby="nav-Drug-tab"><form #drugForm="ngForm" (ngSubmit)="drugSubmit()" style="margin: 10px">
          <div class="row">
            <label
              for=""
              class="col-sm-3 col-form-label col-form-label-lg offset-1"
              >Search Type</label
            >
            <div class="col-sm-5" style="margin-bottom: 10px">
              <select
                (selectionChange)="drugSearchTypeChange(drugSelectedType)"
                [(ngModel)]="drugSelectedType"
                name="Input Type"
                class="form-control form-control-lg"
              >
                <option
                  *ngFor="let type of drugSearchTypeList"
                  [value]="type.inputType"
                >
                  {{ type.inputType }}
                </option>
              </select>
            </div>
  
            <label
              for=""
              class="col-sm-3 col-form-label col-form-label-lg offset-1"
              >Input keywords</label
            >
            <div class="col-sm-5">
              <input
                [(ngModel)]="drugKeyword"
                required
                name="keyword"
                class="form-control form-control-lg"
              />
              <br />
              <button
                mat-raised-button
                color="primary"
                type="submit"
                [disabled]="drugForm.invalid"
              >
                Submit
              </button>
            </div>
          </div>
        </form></div>
        <div class="tab-pane fade" id="nav-Target" role="tabpanel" aria-labelledby="nav-Target-tab">
          <form #targetForm="ngForm" (ngSubmit)="targetSubmit()" style="margin: 10px">
            <div class="row">
              <label
                for=""
                class="col-sm-3 col-form-label col-form-label-lg offset-1"
                >Search Type</label
              >
              <div class="col-sm-5" style="margin-bottom: 10px">
                <select
                  (selectionChange)="targetSearchTypeChange(targetSelectedType)"
                  [(ngModel)]="targetSelectedType"
                  name="Input Type"
                  class="form-control form-control-lg"
                >
                  <option
                    *ngFor="let type of targetSearchTypeList"
                    [value]="type.inputType"
                  >
                    {{ type.inputType }}
                  </option>
                </select>
              </div>
    
              <label
                for=""
                class="col-sm-3 col-form-label col-form-label-lg offset-1"
                >Input keywords</label
              >
              <div class="col-sm-5">
                <input
                  [(ngModel)]="targetKeyword"
                  required
                  name="keyword"
                  class="form-control form-control-lg"
                />
                <br />
                <button
                  mat-raised-button
                  color="primary"
                  type="submit"
                  [disabled]="targetForm.invalid"
                >
                  Submit
                </button>
              </div>
            </div>
          </form>
        </div>
        <div class="tab-pane fade" id="nav-Pathway" role="tabpanel" aria-labelledby="nav-Pathway-tab">
          <form #pathwayForm="ngForm" (ngSubmit)="pathwaySubmit()" style="margin: 10px">
            <div class="row">
              <label
                for=""
                class="col-sm-3 col-form-label col-form-label-lg offset-1"
                >Search Type</label
              >
              <div class="col-sm-5" style="margin-bottom: 10px">
                <select
                  (selectionChange)="pathwaySearchTypeChange(pathwaySelectedType)"
                  [(ngModel)]="pathwaySelectedType"
                  name="Input Type"
                  class="form-control form-control-lg"
                >
                  <option
                    *ngFor="let type of pathwaySearchTypeList"
                    [value]="type.inputType"
                  >
                    {{ type.inputType }}
                  </option>
                </select>
              </div>
    
              <label
                for=""
                class="col-sm-3 col-form-label col-form-label-lg offset-1"
                >Input keywords</label
              >
              <div class="col-sm-5">
                <input
                  [(ngModel)]="pathwayKeyword"
                  required
                  name="keyword"
                  class="form-control form-control-lg"
                />
                <br />
                <button
                  mat-raised-button
                  color="primary"
                  type="submit"
                  [disabled]="pathwayForm.invalid"
                >
                  Submit
                </button>
              </div>
            </div>
          </form>
        </div>
        <div class="tab-pane fade" id="nav-Structure" role="tabpanel" aria-labelledby="nav-Structure-tab">
          <form #pathwayForm="ngForm" (ngSubmit)="pathwaySubmit()" style="margin: 10px">

             <div class="row">
              <div class="col-md-7 offset-3"> -->
<!-- <app-jsme
  [elementId]="'structure-search'"
  #applet
  [width]="'80%'"
  [height]="'400px'"
  [showDemo]="true"
  >loading JSME widget
</app-jsme> -->

<!-- </div> -->
<!-- <div class="col-md-2 content-center">
                <button mat-raised-button color="accent" (click)="getJsmeSmiles()">
                  Get Smiles
                </button>
                <button mat-icon-button (click)="getJsmeSmiles()" color="warn">
                  <mat-icon>trending_flat</mat-icon>
                </button>
              </div> -->
<!-- <div class="col-md-5">
                <h5>SMILES:</h5>
                <textarea class="smile-container" [value]="jsmeSmiles" #smiles></textarea>
                <h6>Structure Type:</h6>
                <mat-radio-group [(ngModel)]="structureType">
                  <mat-radio-button *ngFor="let typeEl of structureTypes" [value]="typeEl">
                    {{typeEl | titlecase}}&nbsp;&nbsp;&nbsp;
                  </mat-radio-button>
                </mat-radio-group>
                <div>
                   <h6>Tanimoto threshold: {{similaritySlider.value}}</h6> -->
<!-- <mat-slider class="slider-width"
                              min="0.7" max="1" step="0.01"
                              [(ngModel)]="similarity"
                              [thumbLabel]="true"
                              [disabled]="structureType === 'substructure'"
                              #similaritySlider>
                  </mat-slider> 
                  <button
                    mat-raised-button
                    color="primary"
                    (click)="onSubmit(smiles.value)"
                  >Search
                  </button>
                </div>
              </div> -->
<!-- </div> -->
<!-- </form>
        </div>
      </div> -->
<!-- </div>
  </div> -->

<!-- <div class="row">
  <div class="col-md-5">
    <app-jsme [elementId]="'structure-search'"
              #applet
              [width]="'95%'"
              [height]="'400px'"
              [showDemo]="true"
    >loading JSME widget
    </app-jsme>
  </div>
</div> -->

<!-- <div class="container">
  <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
    <div class="mdl-tabs__tab-bar">
      <a href="#drug-panel" class="mdl-tabs__tab is-active">Drug</a>
      <a href="#target-panel" class="mdl-tabs__tab">Target</a>
      <a href="#pathway-panel" class="mdl-tabs__tab">Pathway</a>
      <a href="#structure-panel" class="mdl-tabs__tab">Structure</a>
    </div>
    <div class="mdl-tabs__panel is-active" id="drug-panel">
      <form #drugForm="ngForm" (ngSubmit)="drugSubmit()" style="margin: 10px">
        <div class="row">
          <label
            for=""
            class="col-sm-3 col-form-label col-form-label-lg offset-1"
            >Search Type</label
          >
          <div class="col-sm-5" style="margin-bottom: 10px">
            <select
              (selectionChange)="drugSearchTypeChange(drugSelectedType)"
              [(ngModel)]="drugSelectedType"
              name="Input Type"
              class="form-control form-control-lg"
            >
              <option
                *ngFor="let type of drugSearchTypeList"
                [value]="type.inputType"
              >
                {{ type.inputType }}
              </option>
            </select>
          </div>

          <label
            for=""
            class="col-sm-3 col-form-label col-form-label-lg offset-1"
            >Input keywords</label
          >
          <div class="col-sm-5">
            <input
              [(ngModel)]="drugKeyword"
              required
              name="keyword"
              class="form-control form-control-lg"
            />
            <br />
            <button
              mat-raised-button
              color="primary"
              type="submit"
              [disabled]="drugForm.invalid"
            >
              Submit
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="mdl-tabs__panel" id="target-panel">
      <form #targetForm="ngForm" (ngSubmit)="targetSubmit()" style="margin: 10px">
        <div class="row">
          <label
            for=""
            class="col-sm-3 col-form-label col-form-label-lg offset-1"
            >Search Type</label
          >
          <div class="col-sm-5" style="margin-bottom: 10px">
            <select
              (selectionChange)="targetSearchTypeChange(targetSelectedType)"
              [(ngModel)]="targetSelectedType"
              name="Input Type"
              class="form-control form-control-lg"
            >
              <option
                *ngFor="let type of targetSearchTypeList"
                [value]="type.inputType"
              >
                {{ type.inputType }}
              </option>
            </select>
          </div>

          <label
            for=""
            class="col-sm-3 col-form-label col-form-label-lg offset-1"
            >Input keywords</label
          >
          <div class="col-sm-5">
            <input
              [(ngModel)]="targetKeyword"
              required
              name="keyword"
              class="form-control form-control-lg"
            />
            <br />
            <button
              mat-raised-button
              color="primary"
              type="submit"
              [disabled]="targetForm.invalid"
            >
              Submit
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="mdl-tabs__panel" id="pathway-panel">
      <form #pathwayForm="ngForm" (ngSubmit)="pathwaySubmit()" style="margin: 10px">
        <div class="row">
          <label
            for=""
            class="col-sm-3 col-form-label col-form-label-lg offset-1"
            >Search Type</label
          >
          <div class="col-sm-5" style="margin-bottom: 10px">
            <select
              (selectionChange)="pathwaySearchTypeChange(pathwaySelectedType)"
              [(ngModel)]="pathwaySelectedType"
              name="Input Type"
              class="form-control form-control-lg"
            >
              <option
                *ngFor="let type of pathwaySearchTypeList"
                [value]="type.inputType"
              >
                {{ type.inputType }}
              </option>
            </select>
          </div>

          <label
            for=""
            class="col-sm-3 col-form-label col-form-label-lg offset-1"
            >Input keywords</label
          >
          <div class="col-sm-5">
            <input
              [(ngModel)]="pathwayKeyword"
              required
              name="keyword"
              class="form-control form-control-lg"
            />
            <br />
            <button
              mat-raised-button
              color="primary"
              type="submit"
              [disabled]="pathwayForm.invalid"
            >
              Submit
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="mdl-tabs__panel" id="structure-panel">
      <form #pathwayForm="ngForm" (ngSubmit)="pathwaySubmit()" style="margin: 10px">
        <div class="row">
          <div class="col-md-5">
            <app-jsme [elementId]="'structure-search'"
                      #applet
                      [width]="'95%'"
                      [height]="'400px'"
                      [showDemo]="true"
            >loading JSME widget
            </app-jsme>
          </div>
          <div class="col-md-2 content-center">
            <button mat-raised-button color="accent" (click)="getJsmeSmiles()">
              Get Smiles
            </button>
            <button mat-icon-button (click)="getJsmeSmiles()" color="warn">
              <mat-icon>trending_flat</mat-icon>
            </button>
          </div>
          <div class="col-md-5">
            <h5>SMILES:</h5>
            <textarea class="smile-container" [value]="jsmeSmiles" #smiles></textarea>
            <h6>Structure Type:</h6>
            <mat-radio-group [(ngModel)]="structureType">
              <mat-radio-button *ngFor="let typeEl of structureTypes" [value]="typeEl">
                {{typeEl | titlecase}}&nbsp;&nbsp;&nbsp;
              </mat-radio-button>
            </mat-radio-group>
            <div>
               <h6>Tanimoto threshold: {{similaritySlider.value}}</h6> 
             <mat-slider class="slider-width"
                          min="0.7" max="1" step="0.01"
                          [(ngModel)]="similarity"
                          [thumbLabel]="true"
                          [disabled]="structureType === 'substructure'"
                          #similaritySlider>
              </mat-slider> 
              <button
                mat-raised-button
                color="primary"
                (click)="onSubmit(smiles.value)"
              >Search
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div> -->

<div
  class="container"
  [style.height]="
    filter.mode == 'By Drawing Molecule from Editor' ? '750px' : '500px'
  "
  id="divContainer"
>
  <form method="POST" enctype="multipart/form-data" #filterForm="ngForm">
    <div class="form-group row">
      <label
        for="exampleSelect1"
        class="col-sm-3 col-form-label col-form-label-lg offset-1"
        style="
          font-size: 23px;
          font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
            'Lucida Sans', Arial, sans-serif;
          text-shadow: 0 0 2px rgb(9, 61, 54);
        "
        >Select the Data Source:</label
      >

      <div class="col-sm-5">
        <select
          class="form-control form-control-lg"
          id="exampleSelect1"
          name="queryMode"
          [(ngModel)]="filter.mode"
          style="color: rgb(79, 5, 153)"
        >
          <option [value]="item" *ngFor="let item of filter.modes">
            {{ item }}
          </option>
        </select>
      </div>
      <small
        id="queryModeHelp"
        class="form-text text-muted col-sm-10 offset-1"
        style="font-size: 17px"
        >Please choose the <em>retrieval method</em> that suits you best according to the actual situation.</small
      >
    </div>
    <br>

    <!-- <div
      [style.display]="filter.mode == 'By Inputting Drug' ? 'block' : 'none'"
    > -->
    <div *ngIf="filter.mode == 'By Inputting Drug'">
      <div class="form-group row">
        <label
          for="fliterdrug"
          class="col-sm-2 col-form-label col-form-label-lg offset-1"
          style="
            font-size: 23px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
              'Lucida Sans', Arial, sans-serif;
            text-shadow: 0 0 2px rgb(35, 110, 129);
          "
          >Search Type:</label
        >
        <div class="col-sm-5 offset-1">
          <select
            class="form-control form-control-lg"
            id="fliterdrug"
            style="color: rgb(79, 5, 153)"
            name="Input Type"
            [(ngModel)]="drugSelectedType"
            (ngModelChange)="drugSearchTypeChange(drugSelectedType)"
          >
            <option
              *ngFor="let type of drugSearchTypeList"
              [value]="type.inputType"
            >
              {{ type.inputType }}
            </option>
          </select>
        </div>
        <small
          id="fliterdrugHelp"
          class="form-text text-muted col-sm-10 offset-1"
          style="font-size: 17px"
          >Please select the appropriate drug information</small
        >
        <br>
        <br>
        <!-- <div class="col-sm-5" style="margin-bottom: 10px">
              <select
                (selectionChange)="drugSearchTypeChange(drugSelectedType)"
                [(ngModel)]="drugSelectedType"
                name="Input Type"
                class="form-control form-control-lg"
              >
                <option
                  *ngFor="let type of drugSearchTypeList"
                  [value]="type.inputType"
                >
                  {{ type.inputType }}
                </option>
              </select>
            </div> -->

        <!-- <label
              for=""
              class="col-sm-3 col-form-label col-form-label-lg offset-1"
              >Input keywords</label
            >
            <div class="col-sm-5">
              <input
                [(ngModel)]="drugKeyword"
                required
                name="keyword"
                class="form-control form-control-lg"
              /> -->
        <label
          for="drugform"
          class="col-sm-3 col-form-label col-form-label-lg offset-1"
          style="
            font-size: 23px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
              'Lucida Sans', Arial, sans-serif;
            text-shadow: 0 0 2px rgb(35, 110, 129);
          "
          >Input keywords:</label
        >
        <div class="col-sm-5">
          <input
            type="text"
            class="form-control form-control-lg"
            id="drugform"
            style="color: rgb(79, 5, 153)"
            name="keyword"
            placeholder=""
            [(ngModel)]="drugKeyword"
            required
            minlength="2"
            #inputSmiles="ngModel"
          />
          <span style="color: red"> {{ validation }}</span>
          <div
            *ngIf="
              inputSmiles.invalid && (inputSmiles.dirty || inputSmiles.touched)
            "
            class="alert alert-danger"
          >
            <div *ngIf="inputSmiles.errors.required">Smiles is required!</div>
            <div *ngIf="inputSmiles.errors.minlength">
              Smiles must be at least 2 characters long!
            </div>
          </div>
        </div>
        <small
          id="drugformHelp"
          class="form-text text-muted col-sm-10 offset-1"
          style="font-size: 17px"
          >Some <em>invalid input</em> will lead to errors.</small
        >
      </div>
    </div>
    <div *ngIf="filter.mode == 'By Inputting Target'">
      <div class="form-group row">
        <label
          for="flitertarget"
          class="col-sm-2 col-form-label col-form-label-lg offset-1"
          style="
            font-size: 23px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
              'Lucida Sans', Arial, sans-serif;
            text-shadow: 0 0 2px rgb(35, 110, 129);
          "
          >Search Type:</label
        >
        <div class="col-sm-5 offset-1">
          <select
            class="form-control form-control-lg"
            id="flitertarget"
            style="color: rgb(79, 5, 153)"
            name="Input Type"
            [(ngModel)]="targetSelectedType"
            (ngModelChange)="targetSearchTypeChange(targetSelectedType)"
          >
            <option
              *ngFor="let type of targetSearchTypeList"
              [value]="type.inputType"
            >
              {{ type.inputType }}
            </option>
          </select>
        </div>
        <small
          id="flitertargetHelp"
          class="form-text text-muted col-sm-10 offset-1"
          style="font-size: 17px"
          >Please select the appropriate target information</small
        >
        <br>
        <br>
        <label
          for="targetform"
          class="col-sm-3 col-form-label col-form-label-lg offset-1"
          style="
            font-size: 23px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
              'Lucida Sans', Arial, sans-serif;
            text-shadow: 0 0 2px rgb(35, 110, 129);
          "
          >Input keywords:</label
        >
        <div class="col-sm-5">
          <input
            type="text"
            class="form-control form-control-lg"
            id="targetform"
            style="color: rgb(79, 5, 153)"
            name="keyword"
            placeholder=""
            [(ngModel)]="targetKeyword"
            required
            minlength="2"
            #inputTarget="ngModel"
          />
          <span style="color: red"> {{ validation }}</span>
          <div
            *ngIf="
              inputTarget.invalid && (inputTarget.dirty || inputTarget.touched)
            "
            class="alert alert-danger"
          >
            <div *ngIf="inputTarget.errors.required">Target is required!</div>
            <div *ngIf="inputTarget.errors.minlength">
              Target must be at least 2 characters long!
            </div>
          </div>
        </div>
        <small
          id="targetformHelp"
          class="form-text text-muted col-sm-10 offset-1"
          style="font-size: 17px"
          >Some <em>invalid input</em> will lead to errors.</small
        >
      </div>
    </div>

    <div *ngIf="filter.mode == 'By Inputting Pathway'">
      <div class="form-group row">
        <label
          for="fliterpathway"
          class="col-sm-2 col-form-label col-form-label-lg offset-1"
          style="
            font-size: 23px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
              'Lucida Sans', Arial, sans-serif;
            text-shadow: 0 0 2px rgb(35, 110, 129);
          "
          >Search Type:</label
        >
        <div class="col-sm-5 offset-1">
          <select
            class="form-control form-control-lg"
            id="fliterpathway"
            style="color: rgb(79, 5, 153)"
            name="Input Type"
            [(ngModel)]="pathwaySelectedType"
            (ngModelChange)="pathwaySearchTypeChange(pathwaySelectedType)"
          >
            <option
              *ngFor="let type of pathwaySearchTypeList"
              [value]="type.inputType"
            >
              {{ type.inputType }}
            </option>
          </select>
        </div>
        <small
          id="fliterpathwayHelp"
          class="form-text text-muted col-sm-10 offset-1"
          style="font-size: 17px"
          >Please select the appropriate pathway information</small
        >
        <br>
        <br>
        <label
          for="pathwayform"
          class="col-sm-3 col-form-label col-form-label-lg offset-1"
          style="
            font-size: 23px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
              'Lucida Sans', Arial, sans-serif;
            text-shadow: 0 0 2px rgb(35, 110, 129);
          "
          >Input keywords:</label
        >
        <div class="col-sm-5">
          <input
            type="text"
            class="form-control form-control-lg"
            id="pathwayform"
            style="color: rgb(79, 5, 153)"
            name="keyword"
            placeholder=""
            [(ngModel)]="pathwayKeyword"
            required
            minlength="2"
            #inputPathway="ngModel"
          />
          <span style="color: red"> {{ validation }}</span>
          <div
            *ngIf="
              inputPathway.invalid &&
              (inputPathway.dirty || inputPathway.touched)
            "
            class="alert alert-danger"
          >
            <div *ngIf="inputPathway.errors.required">Pathway is required!</div>
            <div *ngIf="inputPathway.errors.minlength">
              Pathway must be at least 2 characters long!
            </div>
          </div>
        </div>
        <small
          id="pathwayformHelp"
          class="form-text text-muted col-sm-10 offset-1"
          style="font-size: 17px"
          >Some <em>invalid input</em> will lead to errors.</small
        >
      </div>
    </div>

    <!-- 画结构部分 -->

    <div *ngIf="filter.mode == 'By Drawing Molecule from Editor'">
      <div class="form-group row">
        <div class="col-sm">
          <div class="row">
            <div class="col-sm-3 offset-1">
              <span
                style="
                  font-size: 23px;
                  font-family: 'Trebuchet MS', 'Lucida Sans Unicode',
                    'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                  text-shadow: 0 0 2px rgb(35, 110, 129);
                "
              >
                Structure Type:
              </span>
            </div>
            <div class="col-sm-5" style="vertical-align:middle;
            text-align: center; margin-top: 5px;">
              <div
                class="form-check form-check-inline"
                *ngFor="let typeEl of structureTypes"
              >
                <input
                  class="form-check-input"
                  type="radio"
                  name="inlineRadioOptions"
                  [id]="typeEl + 'Radio'"
                  [value]="typeEl"
                  checked
                  [(ngModel)]="structureType"
                />
                <label class="form-check-label" [for]="typeEl + 'Radio'">{{
                  typeEl
                }}</label>
              </div>
              <!-- <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="SubstructureRadio" value="Substructure">
                <label class="form-check-label" for="SubstructureRadio">Substructure </label>
              </div> -->
            </div>
            <small
              id="inlineRadioHelp"
              class="form-text text-muted col-sm-10 offset-1"
              style="font-size: 17px"
              >Please choose <em>structure</em> or <em>substructure</em> according to your needs.</small
            >
            <br>
            <div
              class="col-sm-4 offset-1"
              style="
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri,
                  'Trebuchet MS', sans-serif;
                font-size: 20px;
              "
            >
              <span
                style="
                  font-size: 23px;
                  font-family: 'Trebuchet MS', 'Lucida Sans Unicode',
                    'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                  text-shadow: 0 0 2px rgb(35, 110, 129);
                "
                >Tanimoto threshold:</span
              >
              <em style="color: blue;" class="offset-1">{{ similaritySlider.value }}</em>
            </div>

            <p style="width: 300px" class="col-sm-4 " style="vertical-align:middle;
            text-align: center; margin-bottom: 0;margin-top: 5px;">
              <input
                name="similaritySlider"
                class="mdl-slider mdl-js-slider"
                type="range"
                id="s1"
                min="0.7"
                max="1"
                [value]="similarity"
                [(ngModel)]="similarity"
                step="0.01"
                #similaritySlider
                [disabled]="structureType === 'substructure'"
              />
            </p>
            
            <small
              id="similaritySliderHelp"
              class="form-text text-muted col-sm-10 offset-1"
              style="font-size: 17px"
              ><em>Tanimoto threshold</em> can only be adjusted when the <em>structure</em> is selected.</small
            >
            <br>
            <br>
            <div class="col-sm-7 offset-3" id="filtform7">
              <app-jsme
                [elementId]="'structure-search'"
                [width]="'450px'"
                [height]="'350px'"
                [showDemo]="true"
                >loading JSME widget
              </app-jsme>
            </div>
            <!-- <div class="col-sm-3 align-self-center">
              <textarea
                name="jsme"
                class="smile-container"
                required
                minlength="2"
                #drawSmiles="ngModel"
                [(ngModel)]="jsmeSmiles"
                cols="55"
                rows="8"
                readonly
              ></textarea>
              <span style="color: red"> {{ validation }}</span>
              <div
                *ngIf="
                  drawSmiles.invalid && (drawSmiles.dirty || drawSmiles.touched)
                "
                class="alert alert-danger"
              >
                <div *ngIf="drawSmiles.errors.required">
                  Smiles is required!
                </div>
                <div *ngIf="drawSmiles.errors.minlength">
                  Smiles must be at least 2 characters long!
                </div>
              </div>
            </div> -->
          </div>
          <br />
          <!-- <small
            id="drawStructureHelp"
            class="form-text text-muted col-sm-10 offset-1"
            style="font-size: 17px"
            >After you have finished drawing, please click the button:<i
              style="font-weight: bold"
              >Convert</i
            >
            or you can not submit your structure.
          </small> -->
        </div>
      </div>
    </div>
    <br />
    <br />
    <div class="form-group row">
      <!-- <button
        type="button"
        class="btn btn-outline-primary col-sm-1 offset-3"
        *ngIf="filter.mode == 'By Drawing Molecule from Editor'"
        (click)="getJsmeSmiles()"
      >
        Convert
      </button> -->
      <button
        type="button"
        class="btn btn-outline-primary col-sm-1 offset-5"
        *ngIf="filter.mode == 'By Drawing Molecule from Editor'"
        (click)="onSubmit()"
      >
        Submit
      </button>
      <button
        type="button"
        class="btn btn-outline-primary col-sm-1 offset-5"
        [disabled]="!filterForm.form.valid"
        *ngIf="filter.mode == 'By Inputting Drug'"
        (click)="drugSubmit()"
      >
        Submit
      </button>
      <button
        type="button"
        class="btn btn-outline-primary col-sm-1 offset-5"
        [disabled]="!filterForm.form.valid"
        *ngIf="filter.mode == 'By Inputting Target'"
        (click)="targetSubmit()"
      >
        Submit
      </button>
      <button
        type="button"
        class="btn btn-outline-primary col-sm-1 offset-5"
        [disabled]="!filterForm.form.valid"
        *ngIf="filter.mode == 'By Inputting Pathway'"
        (click)="pathwaySubmit()"
      >
        Submit
      </button>
    </div>
  </form>
</div>
